<div class="tabla-vehiculos">
  <table class="table table-hover">
      <thead class="table-dark">
      <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Línea</th>
          <th>Modelo</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehiculo of vehiculos; let i = index">
          <td><strong>{{ i + 1 }}</strong></td>
          <td>{{ vehiculo.marca }}</td>
          <td>{{ vehiculo.linea }}</td>
          <td>{{ vehiculo.modelo }}</td>
      </tr>
      </tbody>
  </table>

  <div class="mt-4">
    <ul class="list-unstyled">
      <li *ngFor="let marca of obtenerMarcas()">
        Total {{ marca }}: {{ marcaConteo[marca] }}
      </li>
    </ul>
  </div>
</div>
